
.cart-item-card {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .cart-item-image {
    width: 50%;
    height: auto;
  }
  
  .cart-item-details {
    flex: 1;
  }
  
  .cart-item-image-col {
    size: 3;
    padding: 10px;
  }
  
  .cart-item-details-col 
  {
    size: 6;
  }
  
  .cart-checkout-button {
    width: 100%;
  }

  
.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.cart-item-card {
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-item-image {
  max-width: 100%;
  height: auto;
}

.cart-item-name {
  font-size: 36px;
  font-weight: bold;
  margin: 5px 0;
}

.cart-item-price {
  font-size: 24px;
  color: #1a73e8;
}

.quantity-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.quantity-container-h2 {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}


.decrease-button {
  margin-right: 20px;
}

.increase-button {
  margin-left: 20px;
}


.checkout-card {
  width: 200px;
  height: 200px;
  text-align: center;
  margin-top: 20px; 
  margin-bottom: 20px;
}

